.App {
  text-align: center;
  width:50%;
  background-color: #282c34;
  min-height: 50vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 170px;
  margin-top: 50px;
  margin-left: 400px;
}
.Heading{
  color: yellowgreen;
}





/* .UserContainer {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 170px;
} */

.Refresh {
  
    background-color: rgb(12, 12, 12);
    color: yellowgreen;
    padding: 10px;
    width: 200px;
    font-size: 16px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .UserPicture{
 border:2px solid yellowgreen;
 height: 200px;
 width: 200px;
  }
  .FullName{
    border: 2px solid blueviolet;
    border-radius: 150px;
    background-color: aliceblue;
    color: black;
  }
  .Email{
    width: 600px;
      border: 2px solid blueviolet;
      border-radius: 150px;
      background-color: aliceblue;
      color: black;
    
  }
